{
  "extends": [
    "eslint:recommended",
    "plugin:storybook/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jest-dom/recommended",
    "plugin:mdx/recommended",
    "prettier"
  ],
  "settings": {
    "react": {
      // Tells eslint-plugin-react to automatically detect the version of React to use.
      "version": "detect"
    },
    // Tells eslint how to resolve imports
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".ts", ".tsx"]
      },
      "alias": {
        "extensions": [".ts", ".tsx"],
        "map": [["tailwind-config", "./tailwind.config.cjs"]]
      }
    },
    "mdx/code-blocks": true,
    "mdx/language-mapper": {}
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "simple-import-sort", "jest"],
  "overrides": [
    // override "simple-import-sort" config
    {
      "files": ["js", "*.cjs", "*.ts", "*.tsx"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // Packages `react` related packages come first.
              ["^react", "^@?\\w"],
              // Internal packages.
              ["^(@|components|tailwind-config)(/.*|$)"],
              // Side effect imports.
              ["^\\u0000"],
              // Parent imports. Put `..` last.
              ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
              // Other relative imports. Put same-folder imports and `.` last.
              ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"],
              // Style imports.
              ["^.+\\.?(css)$"]
            ]
          }
        ]
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "root": true
}
