{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2017",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "useBuiltins": true,
        "runtime": "automatic"
      }
    }
  },
  "env": {
    "targets": {
      "chrome": "79"
    },
    "mode": "entry",
    "coreJs": "3.22"
  }
}
